body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  max-width: 600px;
  margin: 1.5em auto;
  padding: 1em;
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: 8px 8px 6px 2px #777;
}